# Directories
.mixin.out/
bendspacks/
crash-reports/
fonts/
journeymap/
logs/
resourcepacks/
saves/
screenshots/
valkyrielib/

# Files
*.log
.ReAuth.cfg
BotaniaVars.dat
knownkeys.txt
minecraftinstance.json
OptiFine*.jar
options.txt
optionsof.txt
usercache.json
usernamecache.json
